.running-line-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background: linear-gradient(to right, #000000cc, #000000d9);
  box-sizing: border-box;
}

.running-line-content {
  display: flex;
  animation: scroll 15s linear infinite;
}

.running-line {
  margin: 0 20px;
  padding: 22px;
  color: white;
  font-size: 1.7rem;
  white-space: nowrap;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
